<div class="h-100 container">
  <div class="row mt-5">
    <div class="col-sm-12">
      <mat-card class="testimonial">
        <div class="row">
          <div class="testimonial-pic col-sm-12 col-md-4 text-center">
            <img src="https://drive.google.com/uc?export=view&id=1evZKG5c_J-SpGQU1qk61poLOI_tg_zD_"
              class="contact-page-profile rounded-circle" width="200" height="200" />
          </div>
          <div class="testimonials-user col-sm-12 col-md-8 p-3">
            <div class="testimonial-name display-4 ">sometimes on purpose </div>
            <div class="testimonial-designation font-italic ">(injected humour and the like)</div>
            <div class="testimonial-project font-weight-lighter ">distracted by</div>
          </div>
        </div>


        <div class="testimonial-description text-center">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English.
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center">
      <div class="text-center">
        <img src="https://drive.google.com/uc?export=view&id=1evZKG5c_J-SpGQU1qk61poLOI_tg_zD_"
          class="contact-page-profile rounded-circle" width="150" height="150" />
      </div>
      <div class="text-center">
        <div class="testimonial-designation font-italic ">(injected humour and the like)</div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center">
      <div class="text-center">
        <img src="https://drive.google.com/uc?export=view&id=1evZKG5c_J-SpGQU1qk61poLOI_tg_zD_"
          class="contact-page-profile rounded-circle" width="150" height="150" />
      </div>
      <div class="text-center">
        <div class="testimonial-designation font-italic ">(injected humour and the like)</div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 ßd-flex flex-column justify-content-center ">
      <div class="text-center">
        <img src="https://drive.google.com/uc?export=view&id=1evZKG5c_J-SpGQU1qk61poLOI_tg_zD_"
          class="contact-page-profile rounded-circle" width="150" height="150" />
      </div>
      <div class="text-center">
        <div class="testimonial-designation font-italic ">(injected humour and the like)</div>
      </div>
    </div>
  </div>

</div>