.background-image{
    background-color: rgba(43, 69, 112, 1);
    height: 100%;
}

.image-container{
    padding-top: 10rem;
    padding-left: 10rem;
    img{
        border-radius: 50%;
    }
}
.name-container{
    padding-left: 5rem;
    display: flex;
    align-items: center;
    padding-top: 10rem;

    h1{
        font-size: 5rem;
        color: rgba(247, 146, 86, 1);
        font-weight: bold;
    }
   
}